{% extends "base.html.twig" %}

{% block body %}

	<div class="bg-image">
		<ul class="no-padding list-group">
			{% for tp in tennisPlayers %}
				<li class="tac">
					<a class="color-players players-name-size" href="{{ path('show_one_player', {'id' : tp.id}) }}">
						{{ tp.familyName }}
						{{ tp.firstName }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block title %}
	Players
{% endblock %}
