{% extends "base.html.twig" %}

{% block body %}
	<div id="global-container">
		<div id="background-image-container"></div>
		<div id="information-container">
			<ul class="no-padding list-group">
				{% for tp in tennisPlayers %}
					<a class="color-players players-name-size" href="{{ path('show_one_player', {'id' : tp.id}) }}">
						<b>{{ tp.familyName }}
							{{ tp.firstName }}</b>
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block title %}
	Players
{% endblock %}
