{% extends "base.html.twig" %}

{% block body %}
	<br class="hidden-when-little-cellphone-use">
	<h2 class="text-danger alert-message">{{ message }}</h2>
{% endblock %}

{% block title %}
	MatchsNotReady
{% endblock %}
