{% extends "base.html.twig" %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
$('#dead_line_round').val("QuarterFinals");
});
	</script>
{% endblock %}

{% block body %}
	<div id="container-admin" class="bg-dark">
		<h2>Admin Quarter Finals Deadline</h2>
		{{ form_start(formView) }}
		<br>
		{{ form_widget(formView) }}
		<br>
		<button type="submit" class="btn btn-success">Validate Deadline</button>
		{{ form_end(formView) }}
	</div>
{% endblock %}

{% block title %}
	Admin Quarter Finals Deadline
{% endblock %}
