{% extends "base.html.twig" %}

{% block body %}
	<div style="background: url('https://media.gqmagazine.fr/photos/5cee9fb8ef06210b4747a14c/master/pass/Balles-tenis.jpg') center center no-repeat scroll;background-size: cover;height: 100vh;">
		<br class="hidden-when-little-cellphone-use">
		<h2 class="text-danger alert-message">{{ message }}</h2>
	</div>
{% endblock %}

{% block title %}
	Dead Line Outdated...
{% endblock %}
