{% extends "base.html.twig" %}

{% block body %}

	<div id="global-container">
		<div id="background-image-container"></div>
		<div id="information-container">
			<ul class="list-group">
				<li class="d-flex justify-content-between align-items-center">
					<a class="bigTitle" href="{{ path('bet_lets_bet', {'round': 'fourthround'}) }}">Lets bet on fourth round</a>
				</li>
				<br class="hidden-when-cellphone-use"><br>
				<li class="d-flex justify-content-between align-items-center">
					<a class="bigTitle" href="{{ path('bet_lets_bet', {'round': 'quarterfinals'}) }}">Lets bet on the quarter finals</a>
				</li>
				<br class="hidden-when-cellphone-use"><br>
				<li class="d-flex justify-content-between align-items-center">
					<a class="bigTitle" href="{{ path('bet_lets_bet', {'round': 'semifinals'}) }}">Lets bet on semi finals</a>
				</li>
				<br class="hidden-when-cellphone-use"><br>
				<li class="d-flex justify-content-between align-items-center">
					<a class="bigTitle" href="{{ path('bet_lets_bet', {'round': 'final'}) }}">Lets bet on the final</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block title %}
	HomeBets
{% endblock %}
