<h2>Congratulations, your account has been created !</h2>
<br>
<h4>Identifiers reminder :</h4>
<ul>
	<li>Email :
		{{ emailAddress }}</li>
	<li>Password :
		{{ password }}</li>
</ul>
<br>
<h4>Keep that mail, nobody can give you back the password. It's encrypted in database.</h4>
<br>
<h4>This are the points attribution rules. They're the same for each round :</h4>
<p>If you have the good winner : 2 points.</p>
<p>If you have (in addition of the good winner) the good set numbers : 2 points more.</p>
<p>If you have (in addition of the good winner) almost the good sets number (one unity error) : 1 point more</p>
<p>If you have the wrong winner, but you bet on a 5 sets match, and it's indeed a 5 sets match : 2 points (because you were close to the exact result)</p>
